@font-face {
  font-family: 'THICCCBOI';
  src: url('../fonts/THICCCBOI-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'THICCCBOI';
  src: url('../fonts/THICCCBOI-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'THICCCBOI';
  src: url('../fonts/THICCCBOI-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'THICCCBOI';
  src: url('../fonts/THICCCBOI-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DM-Sans';
  src: url('../fonts/DMSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.ttf');
  font-weight: 700;
  font-style: normal;
}
